html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.edite-communication {
    height: 20px;
    width: 90%;
}
#email {
    
}
.wrapper_close_btn {
    height: 40px;
    width: 100%;
}
.post-text-group {
    width: 45%;
    height:30px;
    float: right;
}
.post-date-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    height: 30px;
    width: 25%;
}
.post-date-group input {
        margin: 0px 10px 0px 10px; 
}

.form_post_active {
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: rgba(138,174,183,0.42);
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.form_post_edite {
    background-color: white;
    width: 600px;
    height: 450px;
    padding: 20px 20px 20px 20px;
}
.form_post_hidden {
    display: none;
}
.edite_container {
    display: block;
    width: 60%;
    height: 90%;
    background-color: red;
}
.btn_post_edit {
    width: 30px;
    height: 30px;
    float: right;
}
.dropdown-item {
    width: 100%;
}
.dropbtn {
    display: flex;
    float: right;
    width: 10px;
    height: 10px;
    justify-content: center;
    align-items: center;
    background-color: #cfcfcf;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 11px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 50%;
    float: right;
}
.section-title-custom {
    width: 50%;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {

    margin-left: 140px;
    margin-top: 30px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #999898;
}
.edit_post_close {
    float: right;
    width: 40px;
    height: 40px;
    position: relative;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.btn-add 
{
    float: left;
    width: 80px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}